.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg-img);
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font, Arial, sans-serif);
  line-height: normal;
  font-variation-settings: "wght" var(--article-font-weight, 400);
}

.header {
  padding-block: 100px;
}

.container {
  margin: 0 auto;
  inline-size: var(--card-inline-size, min(100%, 700px));
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  border: 2px solid #000;
  padding-block: 128px;
  font-family: var(--font-accent, "Courier New", monospace);
  text-transform: uppercase;
}

.header-logo {
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main-container {
  display: grid;
  gap: 50px;
}

.article-item {
  background-color: var(--bg-color);
  border: 2px solid #000;
}

.article-title {
  font-weight: 700;
  font-variation-settings: "wght" 700;
  padding: 5px 10px 4px 10px;
  font-size: 18px;
}

.article-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  font-size: 18px;
  line-height: 1.16667;
}

.article-main {
  padding: 25px;
}

.image-container {
  position: relative;
  border-block: 2px solid #000;
}

.article-img {
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1 / 1;
  max-block-size: 696px;
  overflow: hidden;
}

.article__img--blur {
  filter: blur(7px);
}

.article__img--brightness {
  filter: brightness(4);
}

.article__img--saturate {
  filter: saturate(2);
}

.article__img--grayscale {
  filter: grayscale(1);
}

.article__img--hue-rotate {
  filter: hue-rotate(180deg);
}

.article__img--mix {
  filter: blur(5px) invert(100%);
}

.article__img--sepia {
  filter: sepia(1);
}

.img-label {
  position: absolute;
  right: 25px;
  top: 25px;
  color: var(--main-color, #000);
  font-family: var(--font-accent, "Courier New", monospace);
  font-size: 0.875rem;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: -1px 0 var(--bg-color, #fff), 0 1px var(--bg-color, #fff),
    1px 0 var(--bg-color, #fff), 0 -1px var(--bg-color, #fff);
}

@supports ((text-stroke: 1px #000) or (-webkit-text-stroke: 1px #000)) {
  .img-label {
    text-shadow: none;
    opacity: 1;
    -webkit-text-stroke: 1px var(--stroke-color, rgb(255 255 255 / 0.5));
    text-stroke: 1px var(--stroke-color, rgb(255 255 255 / 0.5));
  }
}

.card__button-wrapper {
  display: flex;
  margin-inline: auto 0;
  max-block-size: 38px;
  justify-content: flex-end;
  margin-block-start: 27px;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  block-size: 38px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  margin-right: 4px;
}

.like-icon {
  width: 39px;
  height: 36px;
}

.sparks {
  opacity: 0;
}

.contour {
  fill: var(--heart-hover, #000);
  transition-duration: 0.1s;
}

.core {
  fill: transparent;
  transition-delay: 0.03s;
  transition-duration: 0.3s;
}

.main-body {
  fill: transparent;
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon:hover .core {
  fill: var(--heart-hover, #000);
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon:active .core {
  fill: #ff0000;
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.button {
  position: relative;
  border: 2px solid var(--main-color, #000);
  padding: 0;
  background-color: var(--bg-color, #fff);
  cursor: pointer;
}

.button__text {
  position: relative;
  z-index: 1;
  color: #fff;
  font-family: var(--font-accent, "Courier New", monospace);
  font-size: 0.875rem;
  line-height: 0.9;
  mix-blend-mode: difference;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.save-section {
  padding: 50px 0 103px 0;
}

.save-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  padding: 9px 17px;
  max-inline-size: 83vw;
}

.floppy {
  position: relative;
  z-index: 1;
  color: var(--button-text-color, #fff);
  inline-size: var(--floppy-size, 21px);
  block-size: var(--floppy-size, 21px);
  mix-blend-mode: difference;
}

.modal[open] {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 30px;
  column-gap: clamp(12px, 2vw, 20px);
  padding: 30px 30px;
  color: var(--main-color, #000);
  font-family: var(--font-accent, "Courier New", monospace);
  font-size: 0.875rem;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: var(--bg-color, #fff);
  max-inline-size: 357px;
  max-block-size: 193px;
  opacity: 0.5;
}

.modal__title {
  font-size: 0.875rem;
  line-height: 1.5;
}

.floppy--modal {
  --floppy-size: 38px;
  align-self: center;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.modal__button {
  grid-column: 1 / -1;
  text-transform: uppercase;
  inline-size: 100%;
}

@media (width <= 375px) {
  .header-container {
    padding-block: 120px;
  }
  .article-main {
    padding-inline: 25.5px;
  }

  .save-button {
    gap: 8px;
    padding: 9px 17px;
  }

  .floppy {
    block-size: 28px;
    inline-size: 28px;
  }

  .floppy--modal {
    block-size: 39px;
    inline-size: 39px;
  }

  .modal[open] {
    padding: 30px 40px;
    column-gap: 20px;
    max-inline-size: 341px
  }
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color, #000);
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color, #000);
  transition-duration: 0.3s;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color, #000);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.button:hover::after {
  transform: scale(1);
}
