:root {
  --bg-color: #fff;
  --bg-img: repeating-linear-gradient(
      to right,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);

  --card-inline-size: clamp(min(100%, 375px), 50vw, 700px);
  --font: "Inter-Variable";
  --font-accent: "PressStart2P-Regular";
  --main-color: #000;
  --article-p: 1.125rem;
  --article-font-weight: 400;
  --heart-hover: #000;
  --contour-color: #000;
  --filling-color: #ff0000;
  --heart-contour: #000;
  --stroke-color: rgb(255 255 255 / 0.5);
}
